/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200;700&family=Quicksand:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-white;
    @apply text-black font-sans antialiased;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .bf-gradient {
    @apply from-bfg-start to-bfg-stop bg-gradient-to-r;
  }

  .h1 {
    @apply text-h1 font-serif font-bold;
    letter-spacing: 0.02em;
  }

  .h2 {
    @apply text-h2 font-serif font-bold;
  }

  .h3 {
    @apply text-h3 font-serif font-extralight;
  }

  .h4 {
    @apply text-h4 font-sans font-medium uppercase;
    letter-spacing: 0.2em;
  }

  .h5 {
    @apply text-h5 font-sans font-medium;
    letter-spacing: 0.1em;
  }

  .h6 {
    @apply text-h6 font-sans font-medium;
    letter-spacing: 0.04em;
  }

  .p1 {
    @apply text-p1 font-sans font-normal;
  }

  .p2 {
    @apply text-p2 font-sans font-normal;
  }
}
